html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: lightgrey;
}

.mainHead {

  display: flex;
  justify-content: space-between; /* Items will be spaced evenly along the main axis */
  align-items: center; 
  background-color: #4169e1;
  color: white;
  width: 100%; /* Cover full width */
  z-index: 1000; /* Ensure it's above other lines */
}

.mainHead h1 {
  text-align: center;
  padding: 10px;
  font-size: 2em; /* Large title */
}

.mainHead p {
  width: 150px;
  word-wrap: break-word;
  margin-right: auto;
  padding: 10px;
  font-size: large;
}

.mainHead button {
  margin-left: auto;
  padding: 10px;
  height: 50px;
  width: 100px;
  background-color: black;
  color: white;
}

.content {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 20px; /* Adjust the space between cards */
  row-gap: 20px;
  padding: 20px; /* Padding around the entire grid */
  justify-content: center; /* Center item in the container */
  background-color: lightgrey;
}

.content .card {
  background-color: #4169e1;
  box-shadow: 0 4px 8px rbga(0,0,0,0.5);
  color: white;
  border-radius: 5px;
  padding: 10px;
  height: 240px;
  width: 500px;
  transition: transform 0.3s ease;
  
}

.content button {
  width: 100px;
  background-color: black;
  color: white;
}

.content .void {
  width: 100px;
  background-color: darkgrey;
  color: white;
}

.answerContainer {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 20px; /* Adjust the space between cards */
  row-gap: 20px;
  padding: 20px; /* Padding around the entire grid */
  justify-content: center; /* Center item in the container */
  background-color: lightgrey;
}
