html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Robato', sans-serif;
  display: flex;
  flex-direction: column;
}

.mainHead {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100px;
  top: 0;
  background-color: #4169e1;
  color: white;
  padding: 10px 0;
  width: 100%; /* Cover full width */
  z-index: 1000; /* Ensure it's above other lines */
}

.mainHead h1 {
  text-align: center;
  margin: 10px 25%;
  font-size: 2em; /* Large title */
}

.mainHead p {
  margin: 15px 0 0;
  font-size: large;
}

.content {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 20px; /* Adjust the space between cards */
  row-gap: 20px;
  padding: 20px; /* Padding around the entire grid */
  justify-content: center; /* Center item in the container */
}

.content .card {
  background-color: #4169e1;
  box-shadow: 0 4px 8px rbga(0,0,0,0.5);
  color: white;
  border-radius: 5px;
  padding: 10px;
  height: 240px;
  width: 500px;
  transition: transform 0.3s ease;
  
}

.answerContainer {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 20px; /* Adjust the space between cards */
  row-gap: 20px;
  padding: 20px; /* Padding around the entire grid */
  justify-content: center; /* Center item in the container */
}
